<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="stylesheet" href="assets/css/dark.css">
    </head>
    <body>
        <main>
            <h3>{{ page.title }}</h3>
            {{ content }}
        </main>
        <hr>
        <footer><a href="{{ page.bio_url }}">{{ page.father }}</a> &#x2626; 2008 (7516)</footer>
    </body>
</html>
